.button {
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--color-background);
  border: 1px solid var(--color-background);
  color: #ffffff;

  & span {
    flex: 1;
  }

  &:focus {
    animation: pulse 0.5s;
  }
}

@keyframes pulse {
  50% {
    transform: translateX(1.5%);
  }
}

.small,
.medium,
.large {
  border-radius: 10px;
}

.small {
  font-size: 16px;
  padding: 10px;
}

.medium {
  font-size: 16px;
  padding: 15px;
}

.large {
  font-size: 16px;
  padding: 20px;
}

.extralarge {
  font-size: 24px;
  padding: 40px;
}

.primary {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-black);
}

.secondary {
  background: var(--color-secondary);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.tertiary {
  background: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
  color: var(--color-black);
}

.background {
  background: var(--color-background);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.full {
  width: 100%;
}

@media (width < 480px) {
  .button {
    padding: 10px 20px;
  }
}

.icon {
  color: var(--color-black);
}
