#registerForm {
  margin: 155px auto;
  max-width: 782px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#registerForm > h2 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#registerForm > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 60px;
}

@media (width <= 1080px) {
  #registerForm {
    max-width: 715px;
  }
}

@media (width < 480px) {
  #registerForm > div {
    grid-template-columns: repeat(1, 1fr);
  }
}
