.card {
  margin: 155px auto;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.cardTitle {
  font-size: 64px;
  line-height: 140%;
  color: #ffffff;
  font-weight: 500;
}

.cardIcon {
  width: 92px;
}

.cardMessage {
  font-size: 15px;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
}

@media (width < 480px) {
  .cardTitle {
    font-size: 34px;
  }
  .cardIcon {
    width: 101px;
  }
}
