#registerSuccess {
  margin: 155px auto;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

#registerSuccess > h2 {
  font-size: 64px;
  line-height: 140%;
  color: #ffffff;
  font-weight: 500;
}

#registerSuccess > img {
  width: 92px;
}

#registerSuccess > span {
  font-size: 15px;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
}

@media (width < 480px) {
  #registerSuccess > h2 {
    font-size: 34px;
  }
  #registerSuccess > img {
    width: 101px;
  }
}
