input[type="radio"].inputRadio {
  appearance: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"].inputRadio:checked {
  background-color: var(--color-primary);
  accent-color: var(--color-black);
}

input[type="radio"].inputRadio:checked:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--color-black);
}
