#loginForm {
  margin: 0 auto;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 180px 20px 20px 20px;
}

#loginForm > h2 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: var(--font-weight-bold);
}
