#page {
  margin: 30px 60px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.actions > a {
  flex: 1;
}

@media (width <= 1440px) {
  .actions {
    flex-direction: column;
  }
}

@media (width < 834px) {
  #page {
    margin: 20px;
  }
}
