@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
}

body {
  position: relative;
  height: 100vh;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

main {
  height: 100vh;
  overflow-y: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
