#loginForm {
  margin: 155px auto;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.title {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.errorMsg {
  font-size: 15px;
  font-style: italic;
  line-height: 140%;
  text-align: center;
  color: #da0000;
}
