.myInfo {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 20px 30px;
  color: var(--color-white);
}

.myInfo > p {
  font-size: 16px;
  line-height: 138%;
  font-weight: 500;
  margin-bottom: 30px;
}

.myInfo > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 10px;
}

.myInfo > ul > li {
  display: flex;
  flex-direction: row;
}

.data {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-size: 20px;
  line-height: 117%;
  color: var(--color-primary);
  font-weight: 500;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.copy {
  color: var(--color-primary);
}
