.list {
  background-color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.list > h4 {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-background);
  font-weight: 600;
}
