.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 20px 0 20px;
}

.pageNumber {
  background-color: var(--color-white);
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: var(--color-tertiary);
  font-weight: var(--font-weight-bold);
}
