.sidebarMobile {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 5;
  background-color: var(--color-primary);
  animation: slideIn 0.3s;
}

.sidebarMobile > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--color-secondary);
  padding: 30px;
}

.greeting {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
  margin-top: 40px;
}

.sidebarMobile ul {
  padding: 50px 30px 30px 30px;
}

.sidebarMobile ul li {
  cursor: pointer;
  margin-bottom: 15px;
}

.sidebarMobile ul li:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.active {
  font-weight: 700;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
