.cardBalance {
  background-color: var(--color-background);
  color: var(--color-white);
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.actions {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}

.actions > a {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
}

.actions > a:hover {
  color: var(--color-primary);
}

.cardBalance > p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.amount {
  display: inline-block;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
